/* ↓global↓ */

h1{
    font-family: "Bebas Neue";
    font-size: 60px;
}

h2{
    font-family: "Bebas Neue";
    font-size: 48px;
}

p{
    font-family: "Open Sans";
    font-size: 16px;
}

.button-green{
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 5px;
    border-color: #4ade80;
    border-width: 2px;
    padding: 1%;
    color: black;
    background-color: white;
    box-shadow: 0px 1px 2px black;
}

.button-green:hover{
    color: white;
    background-color: #4ade80;
    border-color: #4ade80;
    transition: 200ms;
    box-shadow: 0px 3px 10px black;


}

body{
    margin: 0;
    padding: 0;
}

.container-body{
    width: 80%;
}

.btn_outline{
    background-color: #FFFFFF;
    
    border: 3px solid #4ADE80;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;

    padding: 4px 12px;
    box-shadow: 0px 4px 9px 0px #00000066;

    color: black;
}

.btn_outline:hover{
    box-shadow: 0px 10px 9px 0px #00000066;
    transition: 300ms;
}

.btn_filled{
    background-color: #4ADE80;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;

    padding: 4px 12px;
    box-shadow: 0px 4px 9px 0px #00000066;
}

.btn_filled:hover{
    box-shadow: 0px 10px 9px 0px #00000066;
    transition: 300ms;
}

/* ↓ Menu ↓ */

.menu{
    background-color: #7E22CE;
    display: flex;
    justify-content: center;
}

.container-menu{
    background-color: #7E22CE;
    color: white;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.title-menu{
    font-family: "Lobster";
    font-size: 60px;
}

.row1{

}

.row2{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.row3{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.menu-link{
    margin-right: 3rem;
    font-family: "open sans";
    font-size: 20px;
}

.menu-link.active{
    text-decoration: underline solid 2px #4ADE80;
    text-underline-offset: 8px;
}

.text1-menu{
    font-family: "open sans";
    font-style: italic;
    font-size: 18px;
    margin-right: 5px;
}

.text2-menu{
    font-family: "open sans";
    font-style: italic;
    font-weight: bolder;
    font-size: 18px;
    margin-right: 5px;
    color: #4ADE80;
}

/* ↓ body ↓ */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#bodyContainer{
    flex: 1;
    display: flex;
    width: 80%;
    justify-content: start;
}
/* ↓ Footer ↓ */

.footer{
    background-color: #7E22CE;
    color: white;

    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.container-footer{
    width: 80%;
}

.text-footer{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: bold;
}

.line1-footer{
    width: 100%;
    margin-top: 1.5rem;
    border-bottom: #FFFFFF 2px solid;
}

.line2-footer{
    width: 2%;
    min-height: 100%;
    margin: 0.5rem 0rem 0rem 2rem;
    border-left: 2px solid #FFFFFF; 
    box-sizing: border-box; 
}

.row2-footer{
    display: flex;
    justify-content: center;
}

.link_container-footer{
    width: 50%;
    display: grid;
    padding: 1rem 0rem;
}

.link-footer{
    margin-right: 8px;
    font-weight: bold;
}

/* ↓ login ↓ */
.flex-container-login{
    display: flex;
    justify-content: center;
}   
.form-box-login{
    background-color: #7E22CE;
    border-radius: 15px;
    padding: 40px;
    color: white;
    box-shadow: 0px 3px 5px #4ade80;
    width:30%;
}

.input-box-login{
    display: grid;
    margin-top: 20px;
}

.submit-button-login{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.star{
    color: #4ADE80;
}

.input-text{
    border-radius: 15px;
    padding-left: 10px;
    color: black;
}

.input-text:hover{
    box-shadow: 2px 2px 4px black;
    transition: 200ms;
}

.error-box{
    border: 1px solid red;
    border-radius: 10px;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    font-weight: bold;
}

.radio-button{
    height: 25px;
    width: 25x;
}

/* ↓signup↓ */

.flex-container-signup{
    display: flex;
    justify-content: center;
}

.item-half-signup{
    width: 48%;
    margin-bottom: 20px;
}

.item-full-signup{
    width: 100%;
    margin-bottom: 20px;
}

.form-box-signup{
    background-color: #7E22CE;
    padding: 40px;
    color: white;
    border-radius: 15px;
    width: 50%;
    box-shadow: 0px 3px 5px #4ade80;
}

.input-box-signup{
    display: grid;
    margin-top: 10px;
    font-weight: bold;
}

.flex-grid-signup{
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
}

.button-box-signup{
    display: flex;
    justify-content: center;
}

.error-container-signup{
    justify-self: center;
    width: 50%;
}

/* ↓create-accomodation↓ */

.flex-container-create{
    display: flex;
    justify-content: center;
}

.form-box-create{
    background-color: #7E22CE;
    border-radius: 10px;
    padding:30px;
    color: white;
    font-weight: bold;
}

.box-margin{
    display: grid;
    margin-top: 30px;
}

.box-regular{
    display:grid;
}

/* ↓edit-create↓ */

.flex-container-edit{
    display: flex;
    justify-content: center;
}

.form-box-edit{
    background-color:#7E22CE;
    padding: 30px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 5px #4ade80;
}


/* ↓ show create ↓ */
.flex-container-show{
    display: flex;
    justify-content: center;
}

.data-box-show{
    background-color: #7E22CE;
    border-radius: 15px;
    color: white;
    padding: 20px;
    width: fit-content;
    justify-content: center;
    flex-direction: column;
    width: 40%;

}

.name_mail_number-box{
    background-color: #9740e3;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    margin: 5px;
}

.data-types-text{
    color: white;
    font-weight: bold;
}

.info-data-showing{
    background-color: #9740e3;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    margin: 5px;
}

.data-info-text{
    color: #4ADE80;
    font-weight: 600;
    margin-left: 5em;
}

.data-types-text p{
    margin-top: 2px;
}

.data-info-text p {
    margin-top: 2px;
}

.box-info{
    display: flex;
    flex-direction: column;
    justify-items: start;
}

.placeholder-user-info{
    font-weight: bold;

}

.data-user-info{
    font-weight: 600;
    color: #4ADE80;
}

.succes-alert{
    color: #4ADE80;
    font-weight: 700;
}

/* ↓ News ↓ */

.flex-container-news{
    display: flex;
    justify-content: center;
}

.box-news{
    width: 80%;
}

.news-left
{
    width: 100%;
    display: flex;
    justify-content: start;
}

.news-right
{
    width: 100%;
    display: flex;
    justify-content: end;
}

.flex-container-news-article{
    display: flex;
    justify-content: flex-start;
}

.box-news-article{
    background-color: #7E22CE;
    border-radius: 15px;
    padding: 20px;
    color: white;
    max-width: 50em;
    margin-top: 40px;
}

.date-news{
    font-size: medium;
}

.date-news-data{
    color: #4ade80;
}


/* ↓ news individual article ↓ */

.box-news-full{
    width: 80%;
    background-color: #7E22CE;
    border-radius: 15px;
    padding: 20px;
    color: white;
}
.box-news-full img{
    width: 700px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 4px 5px 10px black;
    margin: 20px;
}

.box-news-grid
{
    display: flex;
}

.box-news-grid p{
    margin: 10px;
    font-size: larger;
}
