@tailwind base;
@tailwind components;
@tailwind utilities;

/* headers 1 - 3*/
@font-face {
    font-family: 'BebasNeue';
    src: url('/public/fonts/BebasNeue-Regular.ttf') format('opentype');
}

/* paragraphs, h 4-5 */
@font-face {
    font-family: 'OpenSans';
    src: url('/public/fonts/OpenSans-Regular.ttf') format('opentype');
}
